<!DOCTYPE html>
<html>
<head>
	<title>NerdLuv</title>
	<meta charset="utf-8">
	<link href="{{ static_url('fresh.gif') }}" type="image/gif" rel="shortcut icon" />
	<link href="{{ static_url('nerdluv.css') }}" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="main">
		<div id="bannerarea">
			<img src="{{ static_url('nerdluv.png') }}" alt="banner logo" /> <br />
			where meek geeks meet
		</div>
		<p>{{ detail }}</p>
		<p><a href="/">Look here! Foolish man! Try again?</a></p>
	</div>
</body>
</html>